.credentials-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #3c609b;
  padding: 20px;
}

.credentials-content {
  background-color: #5a7391;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 900px;
  text-align: center;
  max-height: 600px;
  overflow-y: auto;
}

.credential-input, 
.save-credential-button, 
.cancel-credential-button {
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  width: 100%;
  max-width: 300px;
}

.add-credential-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.add-credential-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
}

.add-credential-button:hover {
  background-color: #0056b3;
}

.save-credential-button, 
.cancel-credential-button {
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.cancel-credential-button {
  background-color: #e70404;
}

.save-credential-button:hover, 
.cancel-credential-button:hover {
  background-color: #0056b3;
}

.credentials-list {
  list-style: none;
  padding: 0;
  margin-top: 20px;
  width: 100%;
  max-width: 500px;
}

.credential-item {
  background-color: #5a7391;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  text-align: left;
}

.message {
  color: rgb(20, 20, 20);
  margin-bottom: 10px;
}

.credentials-table-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.credentials-table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.credentials-table th,
.credentials-table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: center;
  word-wrap: break-word;
}

.credentials-table th {
  background-color: #585858;
  color: white;
}

.credentials-table td {
  background-color: #7a7a7a67;
}

.edit-credential-button {
  background-color: #4e4e4e;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
}

.edit-credential-button:hover {
  background-color: #4e4e4e9d;
}

.delete-credential-button {
  background-color: #e70404;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.delete-credential-button:hover {
  background-color: #c30000;
}

.edit-credential-button, 
.delete-credential-button {
  cursor: pointer;
  margin-right: 5px;
}

.password-button {
    margin-right: 5px;
    cursor: pointer;
    background-color: #979797;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    color: #000000;
    text-decoration: none;
    font-size: 0.9em;
    display: inline-block;
  }
