.dashboard-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #8b8b8b93;
  border-radius: 10px;
  color: #fff;
  width: 40%;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.header-buttons {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.dashboard-button,
.logout-button {
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  width: 100px;
  text-align: center;
}

.dashboard-button {
  background-color: #6f8dcc;
  color: white;
}

.dashboard-button:hover {
  background-color: #0056b3;
}

.logout-button {
  background-color: #ff4c4c;
  color: white;
}

.logout-button:hover {
  background-color: #ff3333;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #3c609b;
  color: #333;
}

.dashboard-container p {
  font-size: 1.2rem;
}

.dashboard-content {
  flex: 1;
  padding: 10px;
  background-color: #8b8b8b93;
  border-radius: 10px;
  width: 80%;
  max-width: 1250px;
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  margin-top: 100px;
}

.dashboard-content section {
  margin-bottom: 20px;
}

.dashboard-content h2 {
  color: #333;
}

.dashboard-content p {
  color: #fdfdfd;
}

@media (max-width: 768px) {
  .dashboard-header {
    width: 80%;
  }

  .header-buttons {
    justify-content: center; 
    gap: 5px; 
  }

  .dashboard-button,
  .logout-button {
    width: 80px;
    font-size: 14px;
  }
}