.dashboard-header {
  background-color: #8b8b8b93;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #3c609b;
  color: #333;
}

.dashboard-container p {
  font-size: 1.2rem;
}

.dashboard-content {
  flex: 1;
  padding: 10px;
  background-color: #8b8b8b93;
  border-radius: 10px;
  width: 80%;
  max-width: 1250px;
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  margin-top: 100px;
}

.dashboard-content section {
  margin-bottom: 20px;
}

.dashboard-content h2 {
  color: #333;
}

.dashboard-content p {
  color: #fdfdfd;
}

.dashboard-button,
.logout-button {
  width: 100px;
  background-color: #007bff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
}