.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #282c34;
  }

  .header-buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .dashboard-button {
    background-color: #366de4;
    color: white;
  }
  
  .dashboard-button:hover {
    background-color: #0056b3;
  }
  
  .logout-button {
    background-color: #ff4c4c;
    color: white;
  }

  .logout-button:hover {
    background-color: #b60101;
  }
  

  @media (max-width: 768px) {
    .dashboard-header {
      width: 80%;
    }
  
    .header-buttons {
      justify-content: center; 
      gap: 5px; 
    }
  
    .dashboard-button,
    .logout-button {
      width: 80px;
      font-size: 14px;
    }
  }