.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #3c609b; 
  }
  
  .login-card {
    background-color: #6f8dcc; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
  }
  
  .login-icon {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
  }
  
  .login-input {
    display: block;
    width: 96%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #88a4e4a4;
    border: none;
    color: #ffffff;
    font-size: 16px;
  }
  
  .login-button {
    width: 100%;
    padding: 10px;
    margin: 20px 0;
    border-radius: 5px;
    border: none;
    background-color: #0067d4;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
  }

  .login-button:hover {
    background-color: #0056b3;
  }

  .login-error {
    color: rgba(255, 0, 0, 0.774);
    margin-top: 10px;
    font-size: 14px;
  }
  .register-link {
    margin-top: 10px;
    font-size: 14px;
    color: #000000;
    text-align: center;
  }
  
  .register-link button {
    color: #385baa;
    text-decoration: underline;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    font-size: 14px;
  }

  .password-input-wrapper {
    position: relative;
    width: 100%;
  }
  
  .login-input[type="password"] {
    width: calc(100% - 40px);
    padding-right: 40px;
  }
  
  .toggle-password-button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
  }

