.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #3c609b;
}

.register-card {
  background-color: #6f8dcc;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 300px;
}

.register-input {
  display: block;
  width: 96%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #88a4e4a4;
  border: none;
  color: #ffffff;
  font-size: 16px;
}

.register-button {
  width: 100%;
  padding: 10px;
  margin: 20px 0;
  border-radius: 5px;
  border: none;
  background-color: #0067d4;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
}

.register-button:hover {
  background-color: #0056b3;
}

.register-error {
  color: red;
  margin-top: 10px;
  font-size: 14px;
}

.back-to-login-button {
  color: #385baa;
  text-decoration: underline;
  text-align: center;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  font-size: 14px; 
}  

.back-login {
  margin-top: 10px;
  font-size: 14px;
  color: #000000;
  text-align: center;
}

.password-requirements {
  font-size: 14px;
  color: #333;
  margin-bottom: 10px;
  padding-left: 20px;
  text-align: left;
}

.password-requirements li {
  margin-bottom: 5px;
  list-style-position: inside;
}

.password-requirements li.valid {
  color: green;
}

.password-requirements li.invalid {
  color: red;
}

.password-input-wrapper {
  position: relative;
  width: 100%;
}

.register-input[type="password"] {
  width: calc(100% - 40px);
  padding-right: 40px;
}

.toggle-password-button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}
